.catalog {
    padding: 150px 65px 0;
}

.catalog__sort {
    font-size: 14px;
}

.catalog__sort-type {
    cursor: pointer;
    margin-left: 15px;
    padding-left: 15px;
    border-left: 1px solid #000;
}

.catalog__items-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.catalog__item {
    text-align: center;
    width: 30%;
    margin-bottom: 25px;
    font-size: 14px;
}

.catalog__item img {
    width: 100%;
}

.catalog__item-price {
    color: #544C4C;
    margin-top: 8px;
}

.catalog__pagination {
    margin: 50px 0;
    text-align: center;
    font-size: 24px;
}

.catalog__pagination-arrow {
    margin: 0 4px;
    cursor: pointer;
    color: #000;
    text-decoration: none;
}

@media (max-width: 1086px) {
    .catalog {
        padding: 120px 30px 0;
    }

    .catalog__item {
        width: 45%;
    }

    .catalog__pagination {
        font-size: 18px;
        margin: 0 0 30px;
    }
}
