section {
    max-width: 1080px;
}

.video {
    display: flex;
    height: 100vh;
    padding-top: 118px;
    text-align: center;
}

.video iframe {
    margin: auto;
}

.new__gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.new__gallery-item {
    width: 30%;
    margin-bottom: 5%;
}

#sewing h2 {
    padding-top: 150px;
}

.tavo-calendar__day {
    padding: 20px 0;
}

.tavo-calendar__header {
    background: #A1834E;
}

.tavo-calendar__day_abs-today {
    background: #FAEFDC;
}

.tavo-calendar__week-names {
    padding: 10px 4px;
    background: #F2E2C7;
}

.tavo-calendar__day_select span, .tavo-calendar__day span:hover {
    background: #F2E2C7;
}

#about {
    margin-bottom: 150px;
}

#about h2 {
    padding-top: 150px;
}

.about__content {
    display: flex;
    justify-content: space-between;
}

.about__content p {
    padding-right: 100px;
}

@media (max-width: 1086px) {
    .video {
        padding-top: 80px;
    }

    .video iframe {
        height: 300px;
    }

    #about {
        margin-bottom: 30px;
    }

    .about__content {
        flex-direction: column;
    }

    .about__content p {
        padding-right: 0;
    }

    .about__content iframe {
        width: 100%;
    }
}
