html {
    scroll-behavior: smooth;
}

body {
    background: #FFF8EC;
    font-family: 'Prata', serif;
    letter-spacing: 2px;
    font-size: 18px;
    line-height: 1.7;
}

.header {
    position: fixed;
    width: 100%;
    box-sizing: border-box;
    z-index: 2;
    background: #FFF8EC;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 34px 65px;
}

.header__nav {
    flex-shrink: 0;
    flex-grow: 1;
}

.header__nav-item {
    padding: 0 28px;
    border-right: 1px solid #000;
    position: relative;
}

.header__nav-item, .header__nav-subitem {
    display: inline-block;
    color: #000;
    text-decoration: none;
}

.header__nav-item:first-child {
    padding-left: 0;
}

.header__nav-item:last-child {
    border: 0;
    padding-right: 0;
}

.header__nav-item input {
    display: none;
}

.header__nav-item label {
    cursor: pointer;
}

.header__nav-item input:checked ~ label {
    text-decoration: underline;
}

.header__nav-subitems-list {
    position: absolute;
    padding-top: 37px;
    top: 100%;
    left: -15px;
    visibility: hidden;
    background: #FFF8EC;
}

.header__nav-item input:checked ~ .header__nav-subitems-list {
    visibility: visible;
}

.header__nav-subitem {
    padding: 7px 15px;
    display: block;
}

.header__logo {
    text-align: center;
    text-decoration: none;
    color: #000;
}

.logo__main {
    font-size: 36px;
    text-transform: uppercase;
    line-height: 30px;
    letter-spacing: 8px;
}

.logo__capture {
    font-size: 18px;
    color: #696969;
    letter-spacing: 4px;
}

.header__tools {
    flex-shrink: 0;
    flex-grow: 1;
    display: flex;
    flex-direction: row-reverse;
}

.header__tools-item {
    width: 26px;
    height: 26px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    cursor: pointer;
    margin-left: 26px;
    flex-shrink: 0;
}

.header__shopping-bag {
    background-image: url("./../images/shopping-bag.svg");
}

.header__account {
    background-image: url("./../images/account.svg");
}

.header__liked {
    background-image: url("./../images/like.svg");
}

.header__search-icon {
    background-image: url("./../images/search.svg");
    margin-left: 8px;
}

.header__search-toggle {
    display: none;
}

.header__search-field {
    visibility: hidden;
    background: transparent;
    border: 0;
    border-bottom: 1px solid #000;
    max-width: 160px;
}

.header__search-field:focus {
    outline: none;
}

.header__search-toggle:checked ~ .header__search-field {
    visibility: visible;
}

section {
    margin: 0 auto;
    padding: 0 30px;
    box-sizing: border-box;
}

h2 {
    font-size: 36px;
    text-transform: uppercase;
    line-height: 30px;
    letter-spacing: 8px;
    margin-bottom: 36px;
}

@media (max-width: 1086px) {
    body {
        font-size: 14px;
    }

    .header {
        padding: 20px 20px 10px;
        justify-content: center;
    }

    .header__nav {
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        background: #FAEFDC;
        text-align: center;
    }

    .header__nav-item {
        padding-top: 5px;
        padding-bottom: 5px;
    }

    .header__nav-subitems-list {
        padding-top: 0;
        background: #FAEFDC;
    }

    .logo__main {
        font-size: 18px;
        line-height: 18px;
    }

    .logo__capture {
        font-size: 10px;
    }

    .header__tools {
        display: none;
    }
}
